body {
    color: white;
}
.body {
    background-color: rgb(14, 14, 14);
}
.navigation_button {
    background-color: rgb(167, 255, 255);
    font-size: 24px;
    cursor: pointer;
}

.garage {
    font-size: 30px;
}
.cars-block {
    display: flex;
    flex-direction: column;
}
.car-pic {
    width: 140px;
    height: 100px;
}
.one-of-cars {
    display: flex;
    flex-direction: column;
    margin-bottom: -40px;
}
.butA {
    width: 30px;
    height: 30px;
    border: 1px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.a-b-buttons {
    display: flex;
}
.car-buttons {
    cursor: pointer;
}
.model-name {
    margin-left: 20px;
    color: gold;
    font-size: 24px;
}
.flag {
    height: 100px;
    position: absolute;
    right: 100px;
}
.car-flag {
    display: flex;
    position: relative;
}