body {
    color: white;
}
.body {
    background-color: rgb(14, 14, 14);
}
.navigation_button {
    background-color: rgb(167, 255, 255);
    font-size: 24px;
    cursor: pointer;
}
.garage-page {
    position: relative;
    z-index: 5;
}
.garage {
    font-size: 30px;
}
.cars-block {
    display: flex;
    flex-direction: column;
}

.car-pic {
    width: 140px;
    height: 100px;
    position: relative;
}

.car-animation {
    animation: 2s linear;
    animation-name: lolo;
}

@keyframes lolo {
    from {
        left: 0;
    }

    to {
        left: 86%;
    }
}

.one-of-cars {
    display: flex;
    flex-direction: column;
    margin-bottom: -60px;
}

.dots {
    position: relative;
    top: -58px;
}
.butA {
    width: 30px;
    height: 30px;
    border: 1px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.a-b-buttons {
    display: flex;
}
.car-buttons {
    cursor: pointer;
}
.model-name {
    margin-left: 20px;
    color: gold;
    font-size: 24px;
}
.flag {
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 85%;
}
.car-flag {
    display: flex;
    position: relative;
}
.page {
    font-size: 24px;
}

.butB {
    opacity: 0.5;
}
.pages-block {
    position: relative;
    z-index: 50;
}

.winners-page {
    position: relative;
    z-index: -5;
    opacity: 0;
}